@use "mixin" as *;
@use "media-mixin" as *;


.mobile-open {
    height: 575px;
    width: 335px;
    padding: 16px 20px 20px;
    background-color: $color-white;
    border-radius: 20px;
    border: 2px solid $color-black;
    box-shadow: -3px 5px 3px black;
    position: fixed;
    top: 5px;
    left: 0;
    z-index: 3;
}

.mobile-vision {
    display: flex;
    gap: 11px;
    flex-direction: column;
    text-align: center;

    @include lg {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.vision {
    display: block;
}

.blur {
    filter: blur(2px);
}

.mobile {
    border: 2px solid white;
    padding-block: 11px;
    border-radius: 10px;
}

.mobile:active {
    background-color: $bg-color-nav;
}

.link-hover {
    color: $color-nav;
}