@use "mixin" as *;
@use "media-mixin" as *;

.footer {
    grid-area: footer;
    display: flex;
    gap: 12px;
    align-items: flex-end;
    padding-bottom: 72px;

    @include lg {
        margin: auto;
        flex-direction: column;
        padding-top: $gap;
    }
    &-picture {
        @include lg {
            margin: auto;
        }
    }
    &-info {
        margin-bottom: 7px;

        @include lg {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__name {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $color-black;
        }

        &__description {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $color-footer-description;
        }
    }
}