@use "mixin" as *;

.footer {
    grid-area: footer;
    display: flex;
    gap: 12px;
    align-items: flex-end;
    padding-bottom: 72px;
    &-info {
        margin-bottom: 7px;
        &__name {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $color-black;
        }

        &__description {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $color-footer-description;
        }
    }
}