$color-black: #000000;
$color-header-description: #838383;
$color-white: #ffffff;
$color-nav: #9197B3;
$color-footer-description: #757575;

$bg-color-nav: #5932EA;
$bg-color-main: #FAFBFF;

$gap: 20px;