$color-black: #000000;
$color-header-description: #838383;
$color-white: #ffffff;
$color-nav: #9197B3;
$color-footer-description: #757575;
$color-main-headernote: #16C098;
$color-main-collumn-name: #B5B7C0;
$color-main-card-text: #292D32;
$color-main-card-btn: #008767;
$color-main-card-btn-inactive: #DF0404;
$color-separate: #EEEEEE;
$color-main-btn-link: #404B52;

$bg-color-main-btn: #F5F5F5;
$bg-color-nav: #5932EA;
$bg-color-main: #FAFBFF;
$bg-color-input: #F9FBFF;
$bg-color-card-btn: rgba(22, 192, 152, 0.38);
$bg-color-card-btn-border: #00B087;
$bg-color-btn-inactive: #FFC5C5;


$gap: 20px;