@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  grid-area: main;
  background-color: #FAFBFF;
  padding-left: 71px;
  padding-top: 25px;
  min-height: 1200px;
}
.main-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  max-width: 500px;
}
.main-customers {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-left: 38px;
  padding-top: 65px;
  margin-right: 95px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 53px;
  max-width: 968px;
}
.main-customers__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  padding-bottom: 7px;
}
.main-customers__headernote {
  color: #16C098;
}
.main-customers__form-input {
  background-color: #F9FBFF;
  border-radius: 10px;
  border: none;
  background-image: url(../../image/search1.svg);
  background-repeat: no-repeat;
  width: 216px;
  height: 38px;
  padding-left: 40px;
  background-position: 8px 9px;
  padding-top: 2px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}
.main-customers__form-input::-webkit-search-cancel-button {
  display: none;
}
.main-box {
  padding-left: 38px;
  background-color: #ffffff;
  margin-right: 95px;
  padding-bottom: 27px;
  padding-right: 43px;
  max-width: 968px;
}
.main-box__collumn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 13px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.main-box__collumn::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #EEEEEE;
  width: 38px;
  bottom: -1px;
  left: -38px;
}
.main-box__collumn::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #EEEEEE;
  width: 43px;
  bottom: -1px;
  right: -43px;
}
.main-box__collumn-name {
  font-weight: 500;
  color: #B5B7C0;
}
.main-box__collumn-name:nth-of-type(1) {
  -ms-flex-preferred-size: 190px;
      flex-basis: 190px;
}
.main-box__collumn-name:nth-of-type(2) {
  -ms-flex-preferred-size: 137px;
      flex-basis: 137px;
}
.main-box__collumn-name:nth-of-type(3) {
  -ms-flex-preferred-size: 170px;
      flex-basis: 170px;
}
.main-box__collumn-name:nth-of-type(4) {
  -ms-flex-preferred-size: 232px;
      flex-basis: 232px;
}
.main-box__collumn-name:nth-of-type(5) {
  -ms-flex-preferred-size: 165px;
      flex-basis: 165px;
}
.main-box__collumn-name:nth-of-type(6) {
  -ms-flex-preferred-size: 85px;
      flex-basis: 85px;
}
.main-box__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-box__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.main-box__card:not(:first-of-type) {
  padding-top: 19px;
}
.main-box__card-text {
  font-weight: 500;
  color: #292D32;
}
.main-box__card-text:nth-of-type(1) {
  -ms-flex-preferred-size: 192px;
      flex-basis: 192px;
}
.main-box__card-text:nth-of-type(2) {
  -ms-flex-preferred-size: 139px;
      flex-basis: 139px;
}
.main-box__card-text:nth-of-type(3) {
  -ms-flex-preferred-size: 170px;
      flex-basis: 170px;
}
.main-box__card-text:nth-of-type(4) {
  -ms-flex-preferred-size: 235px;
      flex-basis: 235px;
}
.main-box__card-text:nth-of-type(5) {
  -ms-flex-preferred-size: 148px;
      flex-basis: 148px;
}
.main-box__card-btn {
  cursor: pointer;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
  color: #008767;
  width: 101px;
  min-width: 80px;
  height: 29px;
}
.main-box__card-btn--inactive {
  background: #FFC5C5;
  border: 1px solid #DF0404;
  color: #DF0404;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 38px;
  background-color: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 95px;
  padding-bottom: 40px;
  padding-right: 43px;
  max-width: 968px;
  gap: 20px;
}
.main-footer__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.main-footer__pages-btn {
  text-align: center;
  border-radius: 4px;
  padding-top: 2px;
}
.main-footer__pages-link {
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  display: block;
  color: #404B52;
  width: 25px;
  height: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-footer__pages-link:hover {
  background-color: #7e60ef;
  color: #ffffff;
}
.main-footer__pages-link:active {
  background-color: #5932EA;
}
.main-footer__footnote {
  color: #B5B7C0;
  font-weight: 500;
}

.footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 72px;
}
.footer-info {
  margin-bottom: 7px;
}
.footer-info__name {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #000000;
}
.footer-info__description {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
}

.box {
  padding-left: 28px;
  display: grid;
  grid-template-areas: "header main" "footer main";
  grid-template-columns: 278px 1fr;
}

.header {
  grid-area: header;
  padding-top: 36px;
}
.header-logo {
  padding-bottom: 49px;
}
.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-title__text {
  color: #000000;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  padding-left: 8px;
}
.header-navbar__trigger {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: none;
  margin-bottom: 16px;
  border-radius: 40%;
  margin-left: 263px;
  margin-top: 1px;
  background-color: #838383;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-navbar__trigger-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 33px;
  background-color: #ffffff;
  height: 2px;
  width: 18px;
  right: 23px;
}
.header-navbar__trigger-item:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-navbar__trigger-item:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-navbar__trigger:hover {
  background-color: #7e60ef;
}
.header-navbar__trigger:active {
  background-color: #5932EA;
}
.header-burger__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}
.header-burger__item {
  display: block;
  height: 2px;
  width: 18px;
  margin-left: 6px;
  background-color: #000000;
}
.header-burger__item:nth-of-type(1) {
  margin-bottom: 4px;
}
.header-burger__item:nth-of-type(2) {
  margin-bottom: 4px;
}
.header-description {
  color: #838383;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  padding-top: 10px;
  padding-left: 4px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.list-item {
  border-radius: 8px;
  width: 250px;
  min-height: 46px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.list-item::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #9197B3;
  border-right: 2px solid #9197B3;
  -webkit-transform: rotateZ(315deg);
      -ms-transform: rotate(315deg);
          transform: rotateZ(315deg);
  top: 19px;
  right: 14px;
}
.list-item__link {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 8px 7px 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9197B3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.list-item__link:hover {
  color: #ffffff;
}
.list-item__link-image {
  padding-right: 14px;
}
.list-item:hover {
  background-color: #7e60ef;
}
.list-item:active {
  background-color: #5932EA;
}
.list-item--none {
  position: relative;
}
.list-item--none::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotateZ(315deg);
      -ms-transform: rotate(315deg);
          transform: rotateZ(315deg);
  top: 19px;
  right: 14px;
}

.current {
  background-color: #5932EA;
}

.white {
  color: #ffffff;
}

.mobile-open {
  height: 575px;
  width: 335px;
  padding: 16px 20px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #000000;
  -webkit-box-shadow: -3px 5px 3px black;
          box-shadow: -3px 5px 3px black;
  position: fixed;
  top: 5px;
  right: 0;
  z-index: 3;
}

.mobile-vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.vision {
  display: block;
}

.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.mobile {
  border: 2px solid white;
  padding-block: 11px;
  border-radius: 10px;
}

.mobile:active {
  background-color: #5932EA;
}

.link-hover {
  color: #9197B3;
}

@media (min-width: 992px) {
  .header-burger {
    display: none;
  }
}

@media (max-width: 1279.8px) {
  .main {
    padding-left: 20px;
  }
  .main-customers {
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-box {
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-box__collumn::before {
    width: 20px;
    left: -20px;
  }
  .main-box__collumn::after {
    width: 20px;
    right: -20px;
  }
  .main-footer {
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 991.8px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 200px;
  }
  .main-title {
    text-align: center;
    max-width: 100%;
    padding-inline: 20px;
  }
  .main-customers {
    margin-inline: auto;
  }
  .main-box {
    margin-inline: auto;
  }
  .main-footer {
    margin-inline: auto;
    margin-bottom: 20px;
  }
  .footer {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .footer-picture {
    margin: auto;
  }
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    padding-left: 0;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 20px;
  }
  .header-navbar__list {
    display: none;
  }
  .mobile-vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}